body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    color: #fff;
    background-color: #343434;
}
.container{
    width: 26%;

}
.card{
    border-radius: 50px;
    background-color: #343434;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    padding: 3%;
    text-align: center;
}
.card h4{
    font-size: 4rem;
    font-weight: 400;
    margin: 1rem 0;
}
img #icon{
    width: 20%;

}
h6 #weather{
    text-transform: capitalize;
}
button.refresh{
    display: block;
    width: 100px;
    margin: 10px auto;
    background: transparent;
    border: 0;
    color: #9c9c9d;
    font-size: 30px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 10px 4px 10px #252525, 5px 5px 18px #4a4a4a;
}
button.refresh:hover{
    box-shadow: inset 10px 4pc 10pc #252525, inset 5px 5px 18px #4a4a4a;
}
.search-form {
  display: flex; /* Arranges input and button in a row */
  align-items: center; /* Vertically aligns items */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: #f9f9f9;
}

.search-input {
  flex-grow: 1; /* Allows the input field to take up available space */
  border: none;
  padding: 8px 10px;
  font-size: 16px;
  outline: none; /* Removes outline on focus */
  background-color: transparent;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 7px;
  margin-left: 5px;
  border-radius: 5px;
}

.search-button:hover {
  background-color: #0056b3;
}